.blog-block {
  width: 100%;
  height: fit-content;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 75px;
}

.blog-subtitle {
  margin-top: 34px;
}

.blog-info-block {
  margin-top: 76px;
  margin-bottom: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blog-info {
  width: 450px;
  background: #FFFFFF;
  position: relative;
}

.blog-border-block-top {
  position: absolute;
  background-color: transparent;
  width: 80%;
  height: 302px;
  border: 0.5px solid #fff;
  border-bottom: none;
  box-sizing: border-box;
  left: 10%;
  top: 46px;
}

.blog-border-block-bottom {
  position: absolute;
  width: 80%;
  height: 40px;
  border: 0.5px solid #878787;
  border-top: none;
  left: 10%;
  top: 294px;
}

.blog-img {
  width: 100%;
  height: max-content;
}

.news-blog {
  height: 294px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 45px;
  position: relative;
}

.news-time {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #878787;
  margin-top: 22px;
}

.news-time .news-section {
  color: #E4C280;
}

.news-title {
  height: 60px;
  font-size: 24px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  margin-top: 7px;
}

.news-text {
  max-width: 360px;
  height: 92px;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #878787;
  margin-top: 13px;
}

.blog-btn {
  margin-top: 12px;
  border: none;
  background: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #E4C280;
}

.second-blog {
  margin: 0 102px;
}

.news-btn {
  height: 42px;
  width: 175px;
  background: #878787;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

@media (max-width: 1680px) {
  .blog-info {
    width: 394px;
  }

  .second-blog {
    margin: 0 196px;
  }
}

@media (max-width: 1440px) {
  .blog-block {
    padding-bottom: 85px;
  }

  .blog-info-block {
    margin: 29px 0 44px;
  }

  .blog-info {
    width: 354px;
  }

  .second-blog {
    margin: 0 130px;
  }

  .news-blog {
    height: 231px;
    padding: 0 20px;
  }

  .blog-border-block-bottom {
    top: 231px;
  }

  .news-time {
    height: 29px;
    margin-top: 5px;
  }

  .news-title {
    height: 30px;
    margin-top: 6px;
  }

  .news-text {
    margin-top: 5px;
  }

  .blog-btn {
    margin-top: 7px;
  }
}

@media (max-width: 1280px) {
  .blog-info {
    width: 300px;
  }

  .second-blog {
    margin: 0 149px;
  }

  .blog-border-block-top {
    top: 36px;
  }
}

@media (max-width: 1024px) {
  .second-blog {
    margin: 0 30px;
  }

  .news-time {
    flex-direction: column;
    align-items: flex-end;
  }

  .blog-border-block-top {
    top: 30px;
  }
}

@media (max-width: 768px) {
  .blog-info-block {
    margin: 33px 0 109px;
  }

  .blog-info {
    width: 227px;
  }

  .second-blog {
    margin: 0 12px;
  }

  .news-blog {
    height: 195px;
  }

  .news-time {
    font-size: 12px;
    line-height: 16px;
  }

  .news-title {
    font-size: 18px;
    line-height: 64px;
    height: 21px;
    margin-top: 14px;
  }

  .news-text {
    height: 60px;
    font-size: 10px;
    line-height: 15px;
    margin-top: 12px;
  }

  .blog-btn {
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    margin-top: 12px;
  }

  .blog-border-block-bottom {
    top: 195px;
  }
}

@media (max-width: 475px) {
  .blog-block {
    padding-bottom: 32px;
  }

  .blog-info-block {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 36px 0 46px;
  }

  .second-blog {
    margin: 47px 0;
  }

  .blog-border-block-bottom {
    height: 33px;
  }

  .blog-info {
    width: 300px;
  }
}

@media (max-width: 325px) {
  .blog-info {
    width: 277px;
  }
}