* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
}

.block-subtitle {
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #E4C280;
}

.block-title {
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.main-info {
  background-image: url("/stydy_tania/img/Facade.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header{
  width: 100%;
  display: flex;
  align-items: center;
}

.burger-block {
  margin: 45px 0 45px 57px;
  height: 40px;
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33px;
  height: 20px;
}

.burger-line {
  background-color: #fff;
  width: 100%;
  height: 15%;
}

.nav-text {
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo-img {
  width: 230px;
  height: 105px;
  margin: 13px 24% 0 35%;
}

.search-btn {
  width: 40px;
  height: 40px;
  margin-top: 45px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-img {
  width: 73%;
  height: 73%;
}

.language-btn {
  width: 65px;
  height: 25px;
  margin-top: 57px;
  margin-left: 10px;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.language {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.book-btn {
  width: 180px;
  height: 70px;
  margin-top: 30px;
  margin-left: 45px;
  background: #E4C280;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  border: 0;
}

.info-block {
  width: 639px;
  height: 390px;
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-style {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 89%;
}

.title {
  margin-bottom: 64px;
  font-size: 48px;
}

.discover-btn {
  width: 220px;
  height: 50px;
  background-color: #E4C280;
  border: 0;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 89%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.arrow-block {
  margin-top: 141px;
}

.gallery-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  bottom: 43%;
  right: 6%;
  width: 96px;
  height: 30px;
}

.gallery-line {
  background-color: #fff;
}

.first {
  width: 100%;
  height: 11%;
}

.second {
  width: 25%;
  height: 11%;
}

.third {
  width: 25%;
  height: 21%;
}

@media (max-width: 1440px) {

}

@media (max-width: 1280px) {
  .block-subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .block-title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media (max-width: 768px) {
  .block-subtitle {
    margin-top: 12px;
  }
}