* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
}

.block-subtitle {
  height: 52px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #E4C280;
}

.block-title {
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.main-info {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 100%), linear-gradient(180deg, rgba(2, 2, 2, 0.3) 0%, rgba(255, 255, 255, 0) 100%), url(/stydy_tania/img/facade.jpeg), #FFFFFF;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.header{
  width: 100%;
  padding: 0 50px 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-block {
  margin: 45px 3% 45px 0;
  height: 40px;
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33.33px;
  height: 20px;
}

.burger-line {
  background-color: #fff;
  width: 100%;
  height: 15%;
}

.header-text {
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.logo-img {
  width: 230px;
  height: 105px;
  margin-left: 10%;
}

.header-btn {
  display: flex;
}

.search-btn {
  width: 40px;
  height: 40px;
  margin-top: 45px;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-img {
  width: 73%;
  height: 73%;
}

.language-btn {
  width: 65px;
  height: 25px;
  margin-top: 57px;
  margin-left: 10px;
  border: 0;
  background: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.language {
  font-size: 18px;
  line-height: 89%;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.book-btn {
  width: 180px;
  height: 70px;
  margin-top: 30px;
  margin-left: 45px;
  background: #E4C280;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  line-height: 89%;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  border: 0;
}

.info-block {
  margin-top: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-style {
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 89%;
}

.title {
  margin-bottom: 64px;
  font-size: 48px;
}

.discover-btn {
  width: 220px;
  height: 50px;
  background-color: #E4C280;
  border: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.arrow-block {
  margin-top: 141px;
}

.main-gallery-btn {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  bottom: 43%;
  right: 6%;
  width: 64px;
  height: 30px;
}

.gallery-line {
  background-color: #fff;
}

.first {
  width: 100%;
  height: 11%;
}

.second {
  width: 25%;
  height: 11%;
}

.third {
  width: 25%;
  height: 21%;
}

@media (max-width: 1440px) {
  .block-subtitle {
    font-size: 14px;
    line-height: 16px;
  }

  .block-title {
    font-size: 36px;
    line-height: 40px;
  }


  .logo-img {
    width: 212px;
  }

  .book-btn {
    width: 128px;
    height: 50px;
  }

  .room-btn {
    font-size: 14px;
    line-height: 16px;
  }

  .book-btn {
    height: 70px;
    width: 180px;
    font-size: 18px;
  }

  .subtitle {
    height: 20px;
    font-size: 14px;
  }

  .title {
    height: 66px;
    font-size: 36px;
  }
}

@media (max-width: 1280px) {
  .main-info {
    height: 720px;
  }

  .header {
    padding-right: 77px;
  }

  .logo-img {
    margin-left: 23%;
  }

  .header-btn {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
  }

  .search-btn,
  .language-btn {
    margin: 0;
  }

  .book-btn {
    height: 50px;
    width: 123px;
    font-size: 14px;
    margin: 0;
  }



  .info-block {
    margin-top: 221px;
  }

  .discover-btn {
    font-size: 14px;
    line-height: 16px;
    width: 184px;
    height: 42px;
  }

  .arrow-block {
    margin-top: 60px;
  }
}

@media (max-width: 1024px) {
  .block-subtitle {
    height: 22px;
  }

  .block-title {
    height: 42px;
  }

  .main-info {
    height: 1024px;
  }

  .header-btn * {
    margin: 0;
  }

  .first {
    width: 38px;
  }

  .second,
  .third {
    width: 10px;
  }

  .logo-img {
    width: 230px;
    height: 105px;
  }
  
  .info-block {
    margin-top: 374px;
  }

  .subtitle {
    font-size: 14px;
  }

  .title {
    font-size: 36px;
  }

  .discover-btn {
    width: 184px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .burger-block {
    margin: 45px 0;
  }

  .logo-img {
    margin-left: 15%;
  }



  /* .search-btn {
    margin-right: 11px;
  } */

  /* .language-btn {
    margin-right: 19px;
  }

  .book-btn {
    margin-left: 0;
  } */

  .info-block {
    margin-top: 374px;
  }
}

@media (max-width: 475px) {
  .main-info {
    height: 566px;
  }

  .header {
    justify-content: flex-start;
  }

  .block-subtitle {
    height: 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .block-title {
    height: 24px;
    font-size: 18px;
    line-height: 20px;
  }

  .header-text,
  .header-btn,
  .main-gallery-btn {
    display: none;
  }

  .info-block {
    margin-top: 154px;
  }

  .subtitle {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 2px;
  }

  .title {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 47px;
  }

  .arrow-block {
    margin-top: 74px;
  }

  .logo-img {
    width: 182px;
    height: 83px;
  }
}