.rooms-block {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
  padding-bottom: 117px;
}

.rooms-subtitle {
  margin-top: 35px;
}

.rooms-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}

.rooms-type {
  margin: 0 11px;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #E4C280;
}

.active {
  text-decoration-line: underline;
}

.rooms-info-block {
  width: fit-content;
  height: 733px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 89px;
}

.rooms-border-block {
  height: inherit;
  width: 1425px;
  background: transparent;
  border: 0.5px solid #878787;
  position: absolute;
  right: 108px;
  bottom: 40px;
}

.about-room-block {
  display: flex;
  flex-direction: row;
}

.img-gallery {
  height: 520px;
  width: 869px;
  position: relative;
}

.gallery-btn {
  width: fit-content;
  height: fit-content;
  position: absolute;
  left: 108px;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  background: rgba(228, 194, 128, 0.7);
  border: none;
  margin: 0 0.5px;
}

.previous-btn {
  transform: rotate(90deg);
}

.next-btn {
  transform: rotate(-90deg);
}

.rooms-photo {
  width: 100%;
  height: 100%;
}

.about-room {
  height: 520px;
  width: 771px;
  padding-left: 128px;
  background: #fff;
}

.about-room-title {
  height: 84px;
  margin-top: 25px;
  font-size: 48px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.about-room-text {
  margin-top: 23px;
  max-width: 595px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.room-btn-block {
  display: flex;
  flex-direction: row;
  margin-top: 37px;
}

.room-btn {
  margin: 0;
}

.details-btn {
  width: 187px;
  background: #878787;
  margin-right: 14px;
}

.all-rooms-block {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.simple-room {
  display: flex;
  flex-direction: row;
  margin-right: 21px;
}

.room-img {
  height: 120px;
  width: 122px;
  margin-right: 21px;
}

.room-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}

@media (max-width: 1680px) {
  .rooms-type {
    max-width: 100px;
    margin: 0 22px;
  }

  .rooms-border-block {
    width: 1337px;
    right: 101px;
  }

  .img-gallery {
    width: 815px;
  }

  .about-room {
    width: 723px;
    padding-left: 70px;
  }

  .about-room-text {
    max-width: 550px;
  }

  .room-img {
    height: 120px;
    width: 114px;
    margin-right: 12px;
  }

  .simple-room {
    margin-right: 11.5px;
  }
}

@media (max-width: 1440px){
  .rooms-block {
    padding-bottom: 92px;
  }

  .rooms-list {
    margin-top: 28px;
  }

  .rooms-type {
    margin: 0px 28px;
  }

  .rooms-info-block {
    height: 640px;
  }

  .img-gallery,
  .about-room {
    height: 452px;
  }

  .img-gallery {
    width: 715px;
  }

  .about-room {
    width: 630px;
    padding-left: 60px;
  }

  .about-room-title {
    font-size: 36px;
    line-height: 38px;
    height: 38px;
    margin-top: 39px;
  }

  .about-room-text {
    max-width: 443px;
    font-size: 12px;
    line-height: 20px;
    margin-top: 33px;
  }
  
  .room-btn-block {
    margin-top: 27px;
  }

  .details-btn {
    width: 134px;
    margin-right: 24px;
  }

  .room-img {
    height: 94px;
    width: 87px;
  }

  .room-name {
    font-size: 14px;
    line-height: 16px;
  }

  .rooms-border-block {
    width: 1135px;
    right: 101px;
  }
}

@media (max-width: 1280px){
  .rooms-subtitle {
    margin-top: 19px;
  }

  .rooms-info-block {
    margin-top: 59px;
    height: 577px;
  }

  .img-gallery,
  .about-room {
    height: 410px;
  }

  .img-gallery {
    width: 621px;
  }

  .gallery-btn {
    left: 77px;
  }

  .about-room {
    width: 551px;
  }

  .all-rooms-block {
    margin-top: 20px;
  }

  .rooms-border-block {
    width: 1019px;
    right: 77px;
  }

  .room-type {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1024px){
  .room-img {
    height: 114px;
    width: 52px;
  }

  .room-name {
    transform: rotate(-90deg);
  }

}

@media (max-width: 768px){

}

@media (max-width: 475px){

}

@media (max-width: 325px){

}