.rooms-section {
  width: 100%;
  height: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F7F7F7;
}

.rooms-subtitle {
  margin-top: 35px;
}

.rooms-list {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  list-style: none;

}

.rooms-type {
  margin: 0 11px;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #E4C280;
}

.active {
  text-decoration-line: underline;
}

.rooms-info-block {
  width: 85.4%;
  height: 68%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 89px;
}

.room-block {  
  background: #fff;  
  width: 100%;
  height: 71%;
  display: flex;
  flex-direction: row;
}

.room-gallery {
  width: 53%;
  height: 100%;
  position: relative;
}

.room-info {
  width: 47%;
  height: 100%;
  padding-left: 128px;
}

.rooms-photo {
  width: 100%;
  height: 100%;
}

.gallery-btn {
  position: absolute;
  left: 108px;
  bottom: 0;
  display: flex;
  flex-direction: row;
}

.arrow-btn {
  width: 50px;
  height: 50px;
  background: rgba(228, 194, 128, 0.7);
  border: none;
  margin: 0 0.5px;
}

.previous-btn {
  transform: rotate(90deg);
}

.next-btn {
  transform: rotate(-90deg);
}

.all-rooms-block {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.simple-room {
  display: flex;
  flex-direction: row;
  margin-right: 21px;
}

.room-img {
  height: 120px;
  width: 122px;
  margin-right: 21px;
}

.room-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #000000;
}

.about-room-title {
  height: 84px;
  margin-top: 25px;
  font-size: 48px;
  line-height: 50px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.about-room-text {
  margin-top: 23px;
  max-width: 595px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #000000;
}

.room-btn-block {
  display: flex;
  flex-direction: row;
  margin-top: 37px;
}

.room-btn {
  margin: 0;
}

.details-btn {
  width: 187px;
  background: #878787;
  margin-right: 14px;
}

@media (max-width: 1680px) {
  .rooms-type {
    width: 100px;
    margin: 0 23px;
  }

  .room-img {
    height: 120px;
    width: 114px;
    margin-right: 12px;
  }

  .room-info {
    padding-left: 70px;
  }

  .simple-room {
    margin-right: 11.5px;
  }

  .about-room-text {
    max-width: 500px;
  }
}

@media (max-width: 1440px) {
  .rooms-section {
    height: 850px;
  }

  .rooms-subtitle {
    margin-top: 19px;
  }

  .rooms-list {
    margin-top: 28px;
  }

  .rooms-type {
    font-size: 14px;
    line-height: 16px;
    width: 86px;
    margin: 0 23px;
  }

  .room-info {
    padding-left: 60px;
  }

  .about-room-text {
    max-width: 450px;
  }

  .room-img {
    height: 94px;
    width: 87px;
  }

  .room-name {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1280px) {
  .all-rooms-block {
    margin-top: 20px;
  }

  .rooms-info-block {
    margin-top: 59px;
    width: 90%;
  }

  .img-gallery,
  .about-room {
    height: 410px;
  }

  .img-gallery {
    width: 621px;
  }

  .gallery-btn {
    left: 77px;
  }

  .about-room {
    width: 551px;
  }

  .about-room-title {
    font-size: 36px;
    height: 38px;
  }

  .about-room-text {
    font-size: 12px;
    margin-top: 33px;
  }

  .room-type {
    font-size: 14px;
    line-height: 16px;
  }

  .room-btn-block {
    margin-top: 27px;
  }

  .room-btn {
    font-size: 14px;
    height: 50px
  }

  .details-btn {
    width: 134px;
  }

  .book-btn {
    width: 128px;
  }
}

@media (max-width: 1024px) {
  .rooms-section {
    height: 1024px;
  }
   
  .simple-room {
    align-items: flex-end;
    margin-right: 50px;
  }

  .room-img {
    height: 114px;
    width: 52px;
    margin-right: 15px;
  }

  .room-name {
    transform: rotate(180deg);
    height: 80px;
    text-align: start;
    writing-mode: vertical-lr;
  }

  .about-room-text {
    max-width: 300px;
  }
}

@media (max-width: 768px) {
  .gallery-btn {
    left: 46px;
  }
}

@media (max-width: 475px) {
  .rooms-section {
    height: 715px;
  }

  .rooms-subtitle {
    margin-top: 23px;
    margin-bottom: 7px;
    height: 16px;
  }

  .rooms-title {
    height: 24px;
    font-size: 18px;
  }
  
  .rooms-list {
    margin-top: 16px;
  }

  .rooms-type {
    font-size: 9px;
    line-height: 13px;
    width: 55px;
    margin: 0 5px;
  }

  .rooms-info-block {
    width: 92%;
    margin-top: 44px;
  }

  .room-block {
    flex-direction: column;
    height: 100%;
  }

  .room-info {
    padding: 0 19px;
  }

  .about-room-title {
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
  }

  .about-room-text {
    font-size: 9px;
    line-height: 10px;
    margin-top: 9px;
    max-width: 350px;
  }

  .room-img {
    height: 89px;
    width: 22px;
  }

  .simple-room,
  .room-img {
    margin-right: 6px;
  }

  .room-gallery,
  .room-info {
    width: 100%;
  }

  .gallery-btn {
    right: 22px;
    left: unset;
  }

  .room-btn {
    font-size: 12px;
    height: 33px;
  }

  .room-btn-block {
    margin-top: 10px;
    justify-content: flex-end;
    margin-bottom: 19px;
  }

  .details-btn {
    width: 89px;
  }

  .book-btn {
    width: 97px;
  }
}

@media (ax-width: 325px) {
  .about-room-text {
    max-width: 250px;
  }
}