.timetable-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.borders {
    border: 1px solid #E5E5E5;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.date-block,
.check-block {
    width: 23.5%;
}

.guests-block {
    width: 12%;
}

.date-block,
.guests-block {
    padding-left: 4.5%;
}

.table-title {
    height: 29px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #878787;
}

.date-info,
.guests-number {
    display: flex;
    flex-direction: row;
}

.day-number {
    margin-right: 20px;
    font-size: 64px;
    line-height: 70px;
    letter-spacing: 0.75px;
    color: #000000;
}

.full-date {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 37px;
}

.month {
    height: 24px;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #000000;
    display: flex;
    align-items: center;
}

.week-day {
    height: 29px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
    display: flex;
    align-items: center;
}

.timetable-arrow {
    width: 20px;
    height: 12px;
}

.date-change {
    border: none;
    background: transparent;
}

.guests-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.more {
    transform: rotate(180deg);
}

.check-block {
    align-items: center;
}

.check-btn {
    height: 55px;
    width: 242px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E4C280;
    border: none;
}

@media (max-width: 1680px) {
    .check-btn {
        width: 202px;
    }
}

@media (max-width: 1280px) {
    .date-block,
    .guests-block {
        padding-left: 1.5%;
    }

    .check-btn {
        font-size: 14px;
        line-height: 16px;
    }
}

@media (max-width: 1024px) {
    .borders {
        align-items: center;
        height: 182px;
        padding: 0;
    }

    .table-title {
        font-size: 14px;
        line-height: 16px;
    }

    .day-number {
        margin-right: 16px;
    }

    .month {
        font-size: 14px;
    }

    .week-day {
        font-size: 12px;
    }

    .full-date {
        margin: 0;
    }

    .date-change {
        display: none;
    }

    .guests-btn {
        display: flex;
    }
}

@media (max-width: 768px) {
    .check-btn {
        width: 150px;
        height: 43px;
    }
}

@media (max-width: 475px) {
    .timetable-section {
        flex-wrap: wrap;
    }

    .borders {
        height: 93px;
    }

    .date-block,
    .check-block {
        width: 48%;
    }

    .guests-block {
        width: 24%;
    }

    .date-block,
    .guests-block {
        padding-left: 2%;
    }

    .table-title {
        font-size: 12px;
    }

    .day-number {
        font-size: 36px;
        margin-right: 9px;
    }
    
    .full-date {
        margin-right: 2px;
    }

    .month {
        height: 16px;
        font-size: 13px;
    }

    .week-day {
        height: 11px;
        font-size: 11px;
    }

    .date-change {
        display: flex;
        justify-content: space-evenly;
    }

    .date-info {
        align-items: center;
    }
}

@media (max-width: 325px) {
    .check-btn {
        width: 122px;
        height: 35px;
        font-size: 12px;
        line-height: 16px;
    }
}