.timetable-block {
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: center;
}

.date-block,
.check-block {
    width: 450px;
    height: 100%;
}

.date-block {
    padding-left: 88px;
}

.guests-block {
    padding-left: 40px;
}

.guests-block {
    width: 224px;
    height: 100%;
}

.borders {
    border: 1px solid #E5E5E5;
}

.table-title {
    height: 29px;
    margin-top: 41px;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #878787;
}

.date-info {
    width: 182px;
    height: 50px;
    display: flex;
}

.day-number {
    height: 50px;
    margin-right: 20px;
    font-size: 64px;
    line-height: 70px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: 0.75px;
    text-transform: uppercase;

    color: #000000;
}

.full-date {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.month {
    width: 89px;
}

.week-day {
    margin-top: 10px;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #000000;
}

.guests-number {
    display: flex;
}

.date-change {
    border: none;
    background: transparent;
    margin-left: 37px;
}

.guests-btn {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
}

.more {
    transform: rotate(180deg);
}

.check-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check-btn {
    height: 55px;
    width: 242px;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #E4C280;
    border: none;
}